.cover-table {
  // 行的样式
  .cover-row {
    &.ant-table-row:hover > td {
      background-color: #F5FAFF;
    }
  }
  // 单元格大大小
  .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table.ant-table-small tfoot > tr > th, .ant-table.ant-table-small tfoot > tr > td {
    padding: 2px 2px;
    font-size: 12px;
  }
  // 分页样式
  .ant-table-pagination.ant-pagination {
    margin: 4px 0px;
  }

  // 调整宽度表格样式
  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }
  .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
    z-index: 1;
  }  
}